@import "../../index";

//STYLIST PAGE

.stylist-page {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
  }

  .stylist-page-subtitle {
    margin: 10px 30% 25px;
    display: block;
    font-size: 1.2rem;
  }

  .stylist-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    padding: 30px;

    .stylist-image {
      width: 35rem;
      height: 32rem;
      cursor: pointer;
    }
  }
}

//  STYLIST MODAL

.stylist-modal {
  h1 {
    color: black;
    font-size: 3rem;
    font-weight: normal;
  }
  img {
    width: 440px;
  }
  .modal-border {
    padding: 0;
    outline: none;
    margin: 0;
  }
  .close-button {
    position: absolute;
    right: 14px;
    color: $salon-green;
    font-size: 22px;
    &:hover {
      color: red;
    }
  }

  .modal-content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 7% 43% 43% 7%;
    border: none;

    &:first-child {
      margin: 20px auto;
      align-items: center;
    }
    .social-media-icons {
      width: 80px;
      margin: 10px;
      cursor: pointer;
      &:hover {
        opacity: 80%;
      }
    }
    .stylist-bio {
      text-align: justify;
      text-align-last: left;
      margin-bottom: 2rem;
      font-family: "Montserrat";
      font-size: 14px;
    }
    .navigation-arrows {
      width: 80px;
      height: 150px;
      cursor: pointer;
      &:hover {
        opacity: 80%;
      }
    }
  }
}
