.authentication-container {
  display: flex;
  justify-content: space-between;
  padding: 60px auto;
  height: 765px;
  background: url("../../assets/salon-12-bw.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: 90%;
}
